<div  class="container-fluid" >
      <div class="span3 well" style="margin-top:10px;">
    <div class="row-fluid">
    <ul class="nav nav-pills nav-stacked" style="margin-top:10px;">
              <li ng-class="{true:'active'}[selectedState == 'Karnataka']"><a href="#!/api/assemblyelections/Karnataka">Karnataka</a></li>
             <li ng-class="{true:'active'}[selectedState == 'Madhya Pradesh']"><a href="#!/api/assemblyelections/Madhya Pradesh">Madhya Pradesh</a></li>
             <li ng-class="{true:'active'}[selectedState == 'Delhi']"><a href="#!/api/assemblyelections/Delhi">Delhi</a></li>
             <li ng-class="{true:'active'}[selectedState == 'Rajasthan']"><a href="#!/api/assemblyelections/Rajasthan">Rajasthan</a></li>
            <li ng-class="{true:'active'}[selectedState == 'Chattisgarh']"><a href="#!/api/assemblyelections/Chattisgarh">Chattisgarh</a></li>
            <li ng-class="{true:'active'}[selectedState == 'Jharkhand']"><a href="#!/api/assemblyelections/Jharkhand">Jharkhand</a></li>
            </ul>
         </div>
        </div>
    <div class="span9" >
        <div class="row-fluid">
             <ul class="breadcrumb" style="margin-top: 10px;">
              <li class="active">Candidate<span class="divider">/</span></li>
             <li><a href="#!/api/ScheduleAssembly/{{selectedState}}">Schedule</a> <span class="divider">/</span></li>
             <li><a href="#!/api/HeavyWeightsAssembly/{{selectedState}}">HeavyWeights</a> <span class="divider">/</span></li>
            <li><a href="#!/api/ExitAssembly/{{selectedState}}">ExitPoll</a> <span class="divider">/</span></li>
    </ul>
        </div>
        <div class="row-fluid">
              <!--<input  test ng-text="query" constituency='constituency' />-->
            <div class="span4">
                <input type="text" ng-model="query" class='input-xlarge' placeholder='Enter Constituency to serch' typeahead="constituency.name  for constituency in constituency|filter:$viewValue" typeahead-min-length="3">
            </div>
            <div class="span3"><button class='btn' ng-click='search()'><i class='icon-search'></i></button></div>
            
         </div>
     
    <ul class="thumbnails" style="margin-top:10px;">
        <li class="span2" ng-repeat="candidate in searchData">
            <div class="thumbnail">
                  <img alt="300x200"  style="width: 160px; height: 160px;" ng-src={{candidate.ImgLocation}}>
                  <div class="caption" style="text-align:center">
                    <a href="#!/candidateAssemblyDetail/{{candidate.Name}}"><span>{{candidate.Name}}</span></a>
                      <ul class="meta" style="margin-left:0px;">
                          <li class="editleft">
                              <a>
                                  <img ng-src={{candidate.PartyLogo}} />
                              </a>
                          </li>
                          <li class="edit">
                              <a title="Click Here to Vote" href="" ng-click="upvote(candidate.CandidateId,$index)">
                                 <i class="icon-thumbs-up"></i>
                                  <span>{{candidate.VoteCount}}</span>
                                </a>
                          </li>
                          <li class="edit">
                              <a title="Edit this plunk"  href="#">
                                 <i class="icon-edit"></i>
                                </a>
                          </li>
                          
                      </ul>
                  </div>
                </div>
        </li>
    </ul>
        </div>
    </div>
  
