<div class="row-fluid" style="margin-top:10px;margin-bottom:10px;">
    <ul class="breadcrumb" style="margin-top: 10px;">
        <li class="active">General Elections 2014<span class="divider">/</span></li>
        <li><a href="#!/ConstituencyAssembly">Assembly Elections 2013</a> <span class="divider">/</span></li>
    </ul>
</div>

<div class="row-fluid" style="margin-top:10px;margin-bottom:10px;">
    <ul class="alphabetical" style="margin-left:0px;">
        <li class="selected-tab"><a><span>ConstituencyByName</span></a></li>
        <li class="tab"><a href="/ConstituencyByState"><span>ConstituencyByState</span></a></li>
    </ul>
    
</div>
<div class="row-fluid" style="border-bottom:5px solid #009FDA;">
<span ng-repeat="data in alphabeticalData" class="constituencyalign" ng-class="{true:'categoryLink-selected', false:''}[selectedGroup == data]" ><a class="blockA" ng-click="showGroup(data)" href="">{{data}}</a></span>
 </div>
      <ul class="thumbnails" style="margin-top:10px;">
        <li class="span3" ng-repeat="datacandidate in constituencydata">
            <div class="well">
                  <div style="text-align:center" class="caption">
                    <a href="/contestingCandidate/{{datacandidate.name}}" >{{datacandidate.name}}</a>
                  </div>
                </div>
        </li>
   </ul>
