<div  class="container-fluid" style="margin-top:10px;">

    <ul class="breadcrumb" >
        <li class="active">Candidate <span class="divider">/</span></li>
        <li><a href="#!/api/Schedule">Schedule</a> <span class="divider">/</span></li>
        <li><a href="#!/api/HeavyWeights">HeavyWeights</a> <span class="divider">/</span></li>
        <li><a href="#!/api/ExitPoll">Exit Poll</a> <span class="divider">/</span></li>
    </ul>
      <div class="container" >
        <div class="row-fluid">
            <div class="span3">
              <input type="text" ng-model="query" class='input-xlarge' placeholder='Enter Constituency to serch' typeahead="constituency.name  for constituency in constituency|filter:$viewValue" typeahead-min-length="3">
                </div>
            <div class="span3"><button class='btn' ng-click='search()'><i class='icon-search'></i></button></div>
         </div>
     </div>
    <ul class="thumbnails" style="margin-top:10px;">
        <li class="span2" ng-repeat="candidate in searchData">
            <div class="thumbnail">
                  <img alt="300x200"  style="width: 160px; height: 160px;" ng-src={{candidate.ImgLocation}}>
                  <div class="caption" style="text-align:center">
                    <a href="/candidateDetail/{{candidate.Name}}"><span>{{candidate.Name}}</span></a>
                      <ul class="meta" style="margin-left:0px;">
                          <li class="editleft">
                              <a>
                                  <img ng-src={{candidate.PartyLogo}} />
                              </a>
                          </li>
                          <li class="edit">
                              <a title="Click Here to Vote" href=""  ng-click="upvote(candidate.CandidateId,$index)">
                                 <i class="icon-thumbs-up"></i>
                                  <span>{{candidate.VoteCount}}</span>
                                </a> 
                          </li>
                          <li class="edit">
                              <a title="Edit this plunk"  href="#">
                                 <i class="icon-edit"></i>
                                </a>
                          </li>
                          
                      </ul>
                  </div>
                </div>
        </li>
    </ul>
 </div>