<div class="container" style="margin-top:20px;">
   
    <div class="row-fluid" >
        <div class="span4 rounderCorner">
            <div class="row-fluid" >
            <button class="btn" type="button"><i class="icon-align-left"></i></button>
                <span class="label label-info">Recent Updates</span>
             </div>
           <div class="row-fluid" ng-repeat="data in eventData">
                <h6 style="margin-top:2px ;margin-bottom:2px;"><a href="{{data.EventLink}}">{{data.EventDesc}}</a></h6> 
                <span class="news">{{data.EventDateTime}}</span>
            </div>
       </div>
        <div class="span7 rounderCorner">
            <div class="row-fluid">
            <button class="btn" type="button"><i class="icon-align-left"></i></button>
                <span class="label ng-binding label-important" class='label-important'>Projected Seats</span>
             </div>
        </div>
 </div>
   </div>
    