<div  class="container-fluid" style="margin-top:20px;" >
    <div class="row-fluid">

          <div class="span2">
            Select Candidate: 
      <select ng-model="candidatename" ng-options="c for c in candidates" >
            <option value="">--Select Candidate--</option>
         </select>
    </div>
        <ul class="nav nav-pills pull-right">
     
      <li ng-class="{true:'active', false:''}[selectedmonth == 'May']">
        <a  href="" ng-click="selectedmonth='May'">+ May</a>
      </li>
      <li ng-class="{true:'active', false:''}[selectedmonth == 'June']">
        <a  href="" ng-click="selectedmonth='June'">+ June</a>
      </li>
      <li ng-class="{true:'active', false:''}[selectedmonth == 'July']">
        <a  href="" ng-click="selectedmonth='July'">+ July</a>
      </li>
             <li ng-class="{true:'active', false:''}[selectedmonth == 'August']">
        <a  href="" ng-click="selectedmonth='August'">+ August</a>
      </li>
    </ul>
    </div>
     <div calendar candidatename="{{candidatename}}" selectedmonth="{{selectedmonth}}" class="row-fluid"></div>
 </div>
