<div  class="container-fluid" style="margin-top:20px;" >
    <div class="row-fluid">

          <div class="span2">
            Select Candidate: 
        <select>
            <option>--Select Candidate--</option>
         </select>
    </div>
        <ul class="nav nav-pills pull-right">
      <li class="active">
        <a  href="">+ All Days</a>
      </li>
      <li >
        <a  href="">+ Even Days</a>
      </li>
      <li >
        <a  href="">+ Odd Days</a>
      </li>
      <li >
        <a  href="">+ Weekends</a>
      </li>
      <li >
        <a  href="">+ Weekdays</a>
      </li>
    </ul>
    </div>
 </div>
