<div class="row-fluid" style="margin-top:20px;">
    
    <div class="span7">
        <h4 style="color:#4183C4">Rally Schedules</h4>
    <table ng-repeat="rally in rallyData" class="table table-bordered table-striped">
        <tr>
            <td>Venue</td>
            <td><span class="label label-important">{{rally.Venue}}</span></td>
        </tr>
         <tr>
            <td>State</td>
            <td><span class="label label-important">{{rally.State}}</span></td>
        </tr>
        <tr>
            <td>Time</td>
            <td><span class="label label-important">{{rally.Time}}</span></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><span class="label label-important">{{rally.Description}}</span></td>
        </tr>
    </table>
        </div>
</div>