<div  class="container-fluid" style="margin-top:10px;" >
    <div class="span3">
    <div class="row-fluid">
    <ul class="nav nav-pills nav-stacked" style="margin-top:10px;">
              <li ng-class="{true:'active'}[selectedState == 'Karnataka']"><a href="#!/api/assemblyelections/Karnataka">Karnataka</a></li>
            </ul>
         </div>
        </div>
    <div class="span9" >
             <div class="row-fluid">
             <ul class="breadcrumb" style="margin-top: 10px;">
              <li><a href="#!/api/assemblyelections/{{selectedState}}" >Candidate</a> <span class="divider">/</span></li>
             <li class="active">Schedule<span class="divider">/</span></li>
             <li><a href="#!/api/HeavyWeightsAssembly/{{selectedState}}">HeavyWeights</a> <span class="divider">/</span></li>
            <li><a href="#!/api/ExitAssembly/{{selectedState}}">ExitPoll</a> <span class="divider">/</span></li>
    </ul>
        </div>
      <div class="row-fluid" ng-repeat="data in schedulelist">
              
                 
    <div class="row-fluid" style="margin-top:5px;">
        
        <div class="span10 rounderCorner">
            <div class="row-fluid">
              <a class="guide-module-toggle-icon pull-left">
                </a>
                <span class="label label-inverse" style="margin-left:10px;">{{data.Phase}}</span>
        </div>

            <div class="row-fluid " style="margin-top:5px;">
                <table class="table table-bordered  table-condensed">
            <thead>
              <tr >
              
                <th><span class="info" >Issue of Notification</span></th>
                <th><span class="info" >Last Date of Making Notification</span></th>
                <th><span class="info" >Last date of withdrawl</span></th>
                <th><span class="info" >Date of Poll</span></th>
                 <th><span class="info" >Couting</span></th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <td >{{data.IssueofNotification}}</td>
                <td >{{data.LastDateofMakingNotification}}</td>
                <td>{{data.Lastdateofwithdrawl}}</td>
                <td >{{data.dateofpoll}}</td>
                <td>{{data.couting}}</td>
              </tr>
            
            </tbody>
          </table>
            </div>
        </div>

   
 </div>
 </div>
        <div class="row-fluid">
            <div class="span4 rounderCorner">
                 <div class="row-fluid" >
                   <a class="guide-module-toggle-icon pull-left">
                </a>
                <span class="label label-inverse" style="margin-left:10px;">Other Info</span>
             </div>
                <div class="row-fluid">
                    <table class="table table-bordered table-condensed" style="margin-top:5px;">
                        <tbody>
                            <tr>
                                <td><span class="info" >No. OF Constituencies</span></td>
                                <td ><span class="badge">224</span></td>
                            </tr>
                            <tr>
                                <td><span class="info" >Reserved for SCs</span></td>
                                <td ><span class="badge">36</span></td>
                            </tr>
                            <tr>
                                <td><span class="info" >Reserved for STs</span></td>
                                <td ><span class="badge">15</span></td>
                            </tr>
                            <tr>
                                <td><span class="info" >Polling Stations</span></td>
                                <td ><span class="badge">50466</span></td>
                            </tr>
                        </tbody>
                        </table>
                </div>
         </div>
        </div>
    
 </div>
</div>
