
body {
    padding-top: 40px;
    position: relative;
    height:100%;
}
h3 code {
    font-size: 14px;
    font-weight: normal;
}
body > .navbar {
    font-size: 13px;
}
body > .navbar .brand {
    color: #000000;
    float: right;
    font-weight: bold;
    margin-left: 20px;
    padding-left: 0;
    padding-right: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
    transition: all 0.2s linear 0s;
}
body > .navbar .brand:hover {
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.4);
}
section {
    padding-top: 5px;
}
section > .page-header, section > .lead {
    color: #5A5A5A;
}
section > ul li {
    margin-bottom: 5px;
}
.bs-docs-separator {
    margin: 40px 0 39px;
}
.docs-input-sizes select, .docs-input-sizes input[type="text"] {
    display: block;
    margin-bottom: 9px;
}
.the-icons {
    list-style: none outside none;
    margin-left: 0;
}
.the-icons li {
    float: left;
    line-height: 25px;
    width: 25%;
}
.the-icons i:hover {
    background-color: rgba(255, 0, 0, 0.25);
}
.bootstrap-examples p {
    font-size: 13px;
    line-height: 18px;
}
.bootstrap-examples .thumbnail {
    background-color: #FFFFFF;
    margin-bottom: 9px;
}
.bs-docs-example {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
}
.bs-docs-example:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Office Held";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.bs-docs-example + .prettyprint {
    margin-top: -20px;
    padding-top: 15px;
}
.bs-docs-example > p:last-child {
    margin-bottom: 0;
}
.bs-docs-example .table, .bs-docs-example .progress, .bs-docs-example .well, .bs-docs-example .alert, .bs-docs-example .hero-unit, .bs-docs-example .pagination, .bs-docs-example .navbar, .bs-docs-example > .nav, .bs-docs-example blockquote {
    margin-bottom: 5px;
}
.bs-docs-example .pagination {
    margin-top: 0;
}
.bs-navbar-top-example, .bs-navbar-bottom-example {
    height: 90px;
    overflow: hidden;
    padding: 0;
    z-index: 1;
}
.bs-navbar-top-example .navbar-fixed-top, .bs-navbar-bottom-example .navbar-fixed-bottom {
    margin-left: 0;
    margin-right: 0;
}
.bs-navbar-top-example {
    border-radius: 0 0 4px 4px;
}
.bs-navbar-top-example:after {
    border-radius: 0 4px 0 4px;
    bottom: -1px;
    top: auto;
}
.bs-navbar-bottom-example {
    border-radius: 4px 4px 0 0;
}
.bs-navbar-bottom-example .navbar {
    margin-bottom: 0;
}
form.bs-docs-example {
    padding-bottom: 19px;
}
.bs-docs-example-images img {
    display: inline-block;
    margin: 10px;
}
.bs-docs-tooltip-examples {
    list-style: none outside none;
    margin: 0 0 10px;
    text-align: center;
}
.bs-docs-tooltip-examples li {
    display: inline;
    padding: 0 10px;
}
.bs-docs-example-popover {
    background-color: #F9F9F9;
    padding-bottom: 24px;
}
.bs-docs-example-popover .popover {
    display: block;
    float: left;
    margin: 20px;
    position: relative;
    width: 260px;
}
.bs-docs-example-submenus {
    min-height: 180px;
}
.bs-docs-example-submenus > .pull-left + .pull-left {
    margin-left: 20px;
}
.bs-docs-example-submenus .dropup > .dropdown-menu, .bs-docs-example-submenus .dropdown > .dropdown-menu {
    display: block;
    margin-bottom: 5px;
    position: static;
}
.responsive-utilities th small {
    color: #999999;
    display: block;
    font-weight: normal;
}
.responsive-utilities tbody th {
    font-weight: normal;
}
.responsive-utilities td {
    text-align: center;
}
.responsive-utilities td.is-visible {
    background-color: #DFF0D8 !important;
    color: #468847;
}
.responsive-utilities td.is-hidden {
    background-color: #F9F9F9 !important;
    color: #CCCCCC;
}
.responsive-utilities-test {
    list-style: none outside none;
    margin-left: 0;
    margin-top: 5px;
    overflow: hidden;
}
.responsive-utilities-test li {
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    color: #999999;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 43px;
    line-height: 43px;
    position: relative;
    text-align: center;
    width: 25%;
}
.responsive-utilities-test li + li {
    margin-left: 10px;
}
.responsive-utilities-test span {
    border-radius: 4px 4px 4px 4px;
    bottom: -1px;
    left: -1px;
    position: absolute;
    right: -1px;
    top: -1px;
}
.responsive-utilities-test span {
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
    color: #468847;
}
.bs-docs-sidenav {
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin: 30px 0 0;
    padding: 0;
    width: 228px;
}
.bs-docs-sidenav > li > a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}
.bs-docs-sidenav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
    border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}
.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}
.bs-docs-sidenav > li > a:hover {
    background-color: #F5F5F5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: 0.5;
}
.bs-docs-sidenav .active .icon-chevron-right, .bs-docs-sidenav .active a:hover .icon-chevron-right {
    background-image: url("../img/glyphicons-halflings-white.png");
    opacity: 1;
}
.bs-docs-sidenav.affix {
    top: 40px;
}
.bs-docs-sidenav.affix-bottom {
    bottom: 270px;
    position: absolute;
    top: auto;
}
.bs-docs-container {
    max-width: 970px;
}
.bs-docs-sidenav {
    width: 258px;
}
.bs-docs-sidenav > li > a {
}
body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.quick-links li {
    display: inline-block;
    margin: 5px;
}
.bs-docs-sidenav {
    margin-right: 0;
    margin-top: 30px;
    top: 0;
    width: 218px;
}
body {
    padding-top: 0;
}
.jumbotron {
    margin-top: -20px;
}
.bs-docs-sidenav {
    margin-top: 20px;
    width: 166px;
}
.bs-docs-sidenav.affix {
    top: 0;
}
body {
    padding-top: 0;
}
.jumbotron {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    padding: 40px 20px;
}
.masthead h1 {
    font-size: 90px;
}
.masthead p, .masthead .btn {
    font-size: 24px;
}
.marketing .span4 {
    margin-bottom: 40px;
}
.bs-docs-social {
    margin: 0 -20px;
}
.show-grid [class*="span"] {
    margin-bottom: 5px;
}
.bs-docs-sidenav {
    margin-bottom: 20px;
    width: auto;
}
.bs-docs-sidenav.affix {
    position: static;
    top: 0;
    width: auto;
}
.footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}
.footer p {
    margin-bottom: 9px;
}
body {
    padding-top: 0;
}
h2 small {
    display: block;
}
.jumbotron h1 {
    font-size: 45px;
}
.jumbotron p, .jumbotron .btn {
    font-size: 18px;
}

.rounderCorner {
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}

.news {
    font-family:Tahoma;
    font-size:12px;
    color:#767676;
}


.center {
    position:absolute;
    width:150px;
    height:150px;
    top:250px;
    left:50%;
    background:url("../img/octocat-spinner-128.gif") no-repeat center center;
}

.hide {
    display:none;
}

.show {
    display:block;
}

.constituencyalign {
    margin-right:3px;
}

.selected {
   background-color: #009FDA;
   color:white;
}

.blockA {
    height: 26px;
    padding: 3px 6px;
    text-transform: uppercase;
}

.alphabetical {
    list-style-type:none;
}

.selected-tab {
    float:left;
    margin-left:10px;
}

.selected-tab:after {
    background-image: url("../IMG/arrow-down-tiny.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 4px;
    width: 15px;
}
 .selected-tab a {
    background-color: #009FDA;
    color:white;
    display: inline-block;
    padding: 6px 10px;
    text-decoration: none;
    font-family:'FranklinGothicFSMedCdRegular';
    font-size:16px;
    
}

.tab {
    float:left;
    margin-left:10px;
}

.tab:hover:not(.selected-tab):after {
    background-image: url("../IMG/arrow-down-tiny.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 4px;
    width: 15px;
}

.tab:not(.selected-tab) a:hover {
    background-color: #E5E5E5;
}

 .tab a {
    background-color: #EFEFEF;
    color:#009FDA;
    display: inline-block;
    padding: 6px 10px;
    text-decoration: none;
    font-family:'FranklinGothicFSMedCdRegular';
    font-size:16px;
    
}

 .categoryLink-selected a {
    background-color: #009FDA;
    color: white;
}

.guide-module-toggle-icon {
     background: url("../IMG/New-sprite.png") no-repeat scroll -351px -71px transparent;
     height: 18px;
     width: 18px;
}

.guide-module-toggle-icon {
     background: url("../IMG/New-sprite.png") no-repeat scroll -351px -71px transparent;
     height: 18px;
     width: 18px;
}

.selectedBread {
    background-color:#FFF8DC;
}

.selectedanchor {
    background-color:#F5F5F5;
}

.info {
    font-family:Tahoma;
    font-size:12px;
    color:#0088CC;
    font-weight:bold;
}

.meta {
    list-style-type: none;
    display: inline-block;
    width: 90%;
}

    .meta .edit {
        float: right;
        margin: auto;
        margin-top: 15px;
    }

    .meta .editleft {
        float: left;
        margin: auto;
    }

.edit a {
    text-decoration: none;
}

    .edit a span {
        color: grey;
    }

.meta {
    list-style-type: none;
    display: inline-block;
    width: 90%;
}

    .meta .edit {
        float: right;
        margin: auto;
    }

.edit a {
    text-decoration: none;
}

    .edit a span {
        color: grey;
    }

.show-grid [class*="span"] {
    background-color: #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    line-height: 40px;
    min-height: 40px;
    text-align: center;
}

.statescontainer {
    width: 100%;
    list-style-type: none;
}

    .statescontainer li {
        float: left;
        margin-left: 20px;
        width: 300px;
        background-color: #DCEAF4;
        border-radius: 4px;
        height: 50px;
        margin-top: 20px;
    }